on: [push, pull_request, workflow_dispatch]

defaults:
  run:
    working-directory: keyboard/firmware

jobs:
  build:
    uses: ./.github/workflows/build-user-config.yml
    with:
      build_matrix_path: keyboard/firmware/build.yaml
      config_path: keyboard/firmware/config
      archive_name: little-luggable
